# Server
PORT=3000

# Database
MONGODB_URI=

# Cloudinary (Dati che trovi nella Dashboard di Cloudinary)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Sicurezza
JWT_SECRET=una_stringa_casuale_molto_lunga

# Google OAuth (Dati dalla Google Cloud Console)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
GOOGLE_FRONTEND_PATH=http://localhost:5173/login